QPushButton#home {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

QLabel#Header {
    font-size: 30px;
    text-transform: capitalize;
}

QLabel#Loan,
QCheckBox#Loan {
    font-weight: bold;
    text-transform: uppercase;
}

QRadioButton#type {
    font-size: 20px;
    text-transform: capitalize;
}

QLabel#no_data {
    font-weight: bold;
    color: red;
}

QLabel#DW {
    font-size: 20px;
    /* font-weight: bold; */
}

QGroupBox::title {
    font-weight: bold;
}